@font-face{
    font-family: 'Raleway';
    src: local('Raleway'),
    url(../fonts/Raleway/static/Raleway-Regular.woff2) format('woff2'),
    url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: 'Raleway';
    src: local('Raleway'),
    url(../fonts/Raleway/static/Raleway-Regular.woff2) format('woff2'),
    url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family: 'Raleway';
    src: local('Raleway'),
    url(../fonts/Raleway/static/Raleway-Regular.woff2) format('woff2'),
    url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url(../fonts/Montserrat/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url(../fonts/Montserrat/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat','Roboto', sans-serif;
    font-weight: 300;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    background-image: url(../image/bg_header.png);
    background-position: center;
    background-size: cover;
    background-color: #555;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 315px;
}
.logo{
    padding-top: 39px;
}
.menu{
    margin-left: auto;
}

.menu__list{
    display: flex;
    padding-top: 58px;
    list-style: none;
}
.menu__list-link:hover{
    color: #C7B299;
}

.menu__list-item+.menu__list-item{
    padding-left: 25px;
}

.menu__list-link{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.user-nav{
    padding-top: 54px;
    margin-left: 54px;
}
.user-nav-link{
    text-decoration: none;
}
.user-nav-link+.user-nav-link{
    margin-left: 30px;
}
.user-nav-link-img{
    fill: #ffffff;
    transition: 0.4s;
}
.user-nav-link-img:hover{
    fill: #00BFF3;
}
.header__inner-burger{
    display: none;
}

.slider{
    color: #FFFFFF;
    text-align: center;
    max-width: 569px;
    margin: 0 auto;
    position: relative;
}
.slider__btn-left{
    position: absolute;
    width: 40px;
    height: 70px;
    top: 35px;
    left: -415px;
    outline: none;
    background-color: transparent;
    border: none;
}
.slider__btn-right{
    position: absolute;
    width: 40px;
    height: 70px;
    top: 35px;
    right: -415px; 
    outline: none;
    background-color: transparent;
    border: none;
}
.button-svg{
    fill: #ffffff;
    opacity: 0.5;
    transition: 0.4s;
}
.button-svg:hover{
    fill: #D3C1AC;
    opacity: 1;
}
.slider__title-top{
    font-family: 'Raleway','Open Sans',sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

.slider__title-bottom{
    font-family: 'Raleway','Open Sans',sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 4px;
}
.slider__text{
    margin-bottom: 39px;
    font-weight: 400;
}
.slider__link{
    padding: 19px 40px;
    background: #988574;
    border-radius: 3px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 315px;
    transition: 0.4s;
}
.slider__link:hover{
    background: #ffffff;
    color: #988574;
}
.header__pagination{
    padding-bottom: 50px;
    text-align: center;
}

.header__pagination input[type="radio"]{
    width: 10px;
    height: 10px;
    margin: 1px 4px;
    appearance: none;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
}

.header__pagination input[type="radio"]:checked{
    background-color: inherit;
    border: 1px solid #998675;
    width: 15px;
    height: 15px;
    margin: 0 2px;
}
.header__pagination input[type="radio"]:focus{
    outline: none;
}

.jobs{
    padding: 84px calc(50% - 1280px / 2) 88px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.job{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    max-width: 21%;
}
.job+.job{
    margin-left: 29px;
}
.icon-svg{
    margin-bottom: 30px;
    display: block;
    width: 100%;
    fill:#555;
    transition: 0.4s linear;
}
.job__link{
    text-decoration: none;
}
.job__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    margin-bottom: 20px;
    transition: 0.4s linear;
}
.job__text{
    margin-bottom: 30px;
    max-width: 270px;
}
.job::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background-color: #F1EEE9;
    transition: 0.4s linear;
}
.job__title:hover{
    color: #C7B299;
}

.job:hover::after {
    background-color: #c7b299;
}
.icon-svg:hover{
    fill: #C7B299;
    transform: rotate(360deg);
}

.waxom{
    background: #fbfaf8;
    text-align: center;
    padding: 0 calc(50% - 1280px / 2);
}
.waxom__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    padding-top: 80px;
    margin-bottom: 20px;
}

.waxom__text{
    display: inline-block;
    margin-bottom: 42px;
    max-width: 770px;
    font-size: 16px;
    line-height: 20px;
    color: #8C8C8C;
}

.waxom-bg{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.purchase{
    padding: 0 calc(50% - 1280px / 2);
    display: flex;
    justify-content: space-between;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.purchase__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    padding-top: 44px;
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
.purchase__title span{
    color: #C7B299;
}
.purchase__info{
    margin-left: 20px;
}
.purchase__text{
    padding-bottom: 45px;
    color: #615855;
}
.purchase__btn{
    font-family: 'Roboto';
    font-weight: 400;
    background: #988574;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 19px 32px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin-top: 56px;
    margin-bottom: 41px;
    margin-right: 21px;
    transition: 0.4s;
}
.purchase__btn:hover{
    background: #FFFFFF;
    color: #988574;
}
.projects{
    padding: 61px calc(50% - 1280px / 2) 33px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
}

.projects__text{
    margin-bottom: 27px;
    max-width: 802px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #8C8C8C;
}
.projects__nav{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 69px;
}

.projects__nav-item{
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #8C8C8C;
    padding: 8px 17px;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    transition: 0.4s;
}
button, button:hover, button:active {
    outline: none;
}
.projects__nav-item:hover{
    color: #FFFFFF;
    background: #998575;
}
.projects__nav-item+.projects__nav-item{
    margin-left: 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    max-width: 370px;
    margin-right: 30px;
    background: #FBFAF8;
    margin-bottom: 69px;
    transition: 0.4s linear;
}
.card__body{
    position: relative;
}
.card__body::before{
    content: "";
    position: absolute;
    top: -38px;
    left: 20px;
    background-color: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #FBFAF8;
    transition: 0.4s linear;
}

.card-title{
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    color: #C7B299;
    margin-top: 26px;
    margin-bottom: 8px;
    margin-left: 23px;
    text-align: left;
    font-size: 20px;
    line-height: 23px;
}
.card-text{
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    margin-left: 23px;
    padding-bottom: 26px;
}
.card:hover{
    background: #352F2D;
}
.card:hover .card__body::before{
    border-bottom: 10px solid #352F2D;

}
.card:hover .card-title{
    color: #ffffff;
}
.card:hover .card-text{
    color: #C7B299;
}
.card__img{
    max-width: 100%;
    transition: 0.4s linear;
}

.card:hover .card__img{
    filter: grayscale(100%);
}

.projects__btn{
    width: 170px;
    height: 53px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #988574;
    border-radius: 3px;
    border: 1px #988574;
    outline: none;
    transition: 0.4s;
}
.projects__btn:hover{
    animation: btncolor 1s infinite;
}
@keyframes btncolor{
    0% {
        background: #988574;
        color: #FFFFFF;
    }
    20% {
        background: #d1c1b2;
        color: #978771;
    }
    40% {
        background: #cabcaf;
        color: #86745d;
    }
    60% {
        background: #e7d9cc;
        color: #86745d;
    }
    80% {
        background: #d1c1b2;
        color: #978771;
    }
    100% {
        background: #ad9c8c;
        color: #978771;
    }
}

.presentation{
    padding: 248px calc(50% - 1280px / 2) 145px;
    background-image: url(../image/poster.png);
    background-position: center;
    background-size: cover;
}
.presentation-content{
    text-align: center;
}
.presentation-btn{
    margin-bottom: 31px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 15px;
    fill: #ffffff;
    transition: 1s;
}
.presentation-btn:hover{
    transform: rotate(360deg);
}
.presentation-title{
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 18px;
}
.presentation-subtitle{
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 570px;
    margin: 0 auto 18px;
}
.presentation-timer{
    display: block;
    color: #C7B299;
}
.video{
    object-fit: cover;
}

.devices{
    padding: 78px calc(50% - 1280px / 2) 0;
    background-color: #fbfaf8;
    display: flex;
    align-items: center;
}

.devices-img{
    margin: 0 64px 0 102px;
}

.devices__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
}

.devices__text{
    margin-bottom: 49px;
    padding-right: 19px;
    font-size: 16px;
    line-height: 20px;
    color: #8A4444;
}
.devices__list{
    padding-left: 67px;
    padding-right: 44px;
    list-style: none;
}
.devices__list-item{
    margin-bottom: 10px;
    position: relative;
    padding-left: 29px;
}
.devices__link{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #8A4444;
}
.devices__link::before{
    content: "";
    background-image: url(../image/circle_arrow.svg);
    height: 21px;
    width: 21px;
    position: absolute;
    left: 0;
}


.counters{
    padding: 36px calc(50% - 1280px / 2);
    display: flex;
    justify-content: center;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}

.counter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    text-align: center;
}
.counter-img{
    fill: #c7b299;
}
.counter-title {
    margin: 13px 0;
    display: block;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    width: 100%;
}
.counter-text{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
}
.counter::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
}
.posts{
    padding: 100px calc(50% - 1280px / 2) 38px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.posts__title{
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 20px;
    width: 100%;
}
.posts__subtitle{
    font-size: 16px;
    line-height: 28px;
    color: #8C8C8C;
    margin-bottom: 30px;
    width: 770px;
}
.posts__cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 54px;
}
.posts__card{
    border: 1px solid #f8f8f8;
    position: relative;
}
.posts__date{
    position: absolute;
    top: 17px;
    left: 23px;
    text-align: center;
}
.posts__date-number{
    width: 50px;
    height: 35px;
    background: #363636;
    border-radius: 3px 3px 0px 0px ;
    display: block;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    padding: 1px 7px;
}
.posts__date-mounth{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 50px;
    height: 25px;
    background: #242424;
    padding: 5px 13px;
    border-radius: 0px 0px 3px 3px;
}
.posts__card + .posts__card{
    margin-left: 85px;
}
.posts__body{
    padding-left: 23px;
    padding-bottom: 22px;
}
.posts__body-title{
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    margin-top: 31px;
    margin-bottom: 22px;
}
.posts__body-text{
    width: 311px;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #000000;
    margin-bottom: 17px;
}
.posts__card-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    padding-bottom: 22px;
    position: relative;
    padding-right: 19px;
}
.posts__card-link::after{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    border-left: 5px solid #C7B299;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}
.posts__card:hover{
    background: #352F2D;
}
.card:hover .card__body::before{
    border-bottom: 10px solid #352F2D;

}
.posts__card:hover .posts__body-title{
    color: #C7B299;
}
.posts__card:hover .posts__body-text{
    color: #ffffff;
}
.posts__card:hover .card__img{
    filter: grayscale(100%);
}
.posts__card:hover .posts__date-number{
    background: #C7B199;
}
.posts__card:hover .posts__date-mounth{
    background: #A48D71;
}
.posts__btn{
    width: 22px;
    height: 22px;
    margin-right: 18px;
    outline: none;
    background-color: transparent;
    border: none;
}
.posts-svg{
    width: 22px;
    height: 22px;
    margin-right: 18px;
    fill: #D1D1D1;
}
.posts-svg:hover{
    fill: #C7B299;
}
.partners{
    padding: 140px calc(50% - 1280px / 2) 139px;
    background-image: url(../image/bg_partners.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
}
.partners__item + .partners__item{
    margin-left: 75px;
}
.partners__item{
    transition: 0.4s;
}
.partners__item:hover{
    transform: scale(1.5);
}
.footer{
    background-color: #191919;
}
.footer__top{
    padding: 74px calc(50% - 1280px / 2) 146px;
    display: flex;
    justify-content: space-between;
}
.footer__top-info{
    width: 270px;
    margin-left: 14px;
    margin-right: 72px;
}
.footer__top-info-logo{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__top-info-title{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin-left: 11px;
}
.footer__top-info-text{
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 18px;
}
.footer__top-info-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    position: relative;
    padding-right: 17px;
    transition: 0.4s;
}
.footer__top-info-link:hover{
    color: #C7B299;
}
.footer__top-info-link::after{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    border-left: 5px solid #D1D1D1;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
}
.footer__top-info-link:hover:after{
    border-left: 5px solid #C7B299;
    background: transparent;
}
.footer__top-posts{
    width: 270px;
    padding-top: 33px;
}
.footer__top-posts-link{
    text-decoration: none;
    margin-bottom: 12px;
    display: block;
    
}
.footer__top-posts-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.footer__top-posts-date{
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-bottom: 6px;
    transition: 0.4s;
}

.footer__top-posts-text{
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    padding-bottom: 16px;
    transition: 0.4s;
}
.footer__top-posts-link:hover .footer__top-posts-text {
    color: #C7B299;
}
.footer__top-posts-link:hover .footer__top-posts-date {
    color: #ffffff;
}
.footer__top-posts-link:nth-child(2){
    content: '';
    border-bottom: 1px solid #242424;;;
    width: 270px;
}
.footer__top-posts-link:nth-child(3){
    content: '';
    border-bottom: 1px solid #242424;;;
    width: 270px;
}
.footer__top-twitter{
    padding-top: 33px;
    width: 270px;
}
.footer__top-twitter-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer__top-twitter-text{
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 6px;
}
.footer__top-twitter-time{
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    padding-bottom: 16px;
    margin-bottom: 12px;
}
.footer__top-twitter-time:nth-child(3){
    content: '';
    border-bottom: 1px solid #242424;
    width: 270px;
}
.footer__top-twitter-time:nth-child(5){
    content: '';
    border-bottom: 1px solid #242424;
    width: 270px;
}
.footer__top-twitter-link{
    text-decoration: none;
    color: #00BFF3;
}

.footer__top-widget{
    padding-top: 33px;
    width: 270px;
}
.footer__top-widget-title{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.footer__top-widget-blog{
    display: flex;
    flex-wrap: wrap;
}
.footer__top-widget-img{
    margin: 0 8px 9px 0;
    width: 45%;
    transition: 0.4s;
}
.footer__top-widget-img:hover{
    transform: scale(1.25);
}

.footer__bootom{
    padding: 58px calc(50% - 1280px / 2) 41px;
    background-color: #101010;
   
}
.footer__bootom-text{
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 14px;
    border-right: 1px solid #1A1A1A;
}
.footer__bootom-link{
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    margin-right: 10px;
    padding-right: 10px;
    transition: 0.4s;
}
.footer__bootom-text:first-child{
    border-right: 1px solid #1A1A1A;
}
.footer__bootom-link:nth-child(2), .footer__bootom-link:nth-child(3) {
    border-right: 1px solid #252525;
}
.footer__bootom-link:last-child{
    border-right: none;
}
.footer__bootom-link:hover{
    color: #BAA78F;
}

@media (max-width: 500px) {
    .slider__btn-right, .slider__btn-left{
        display: none;
    }
    .slider{
        max-width: 450px;
        margin: 0 auto;
        width: auto;
    }
    .slider__title-top{
        font-size: 20px;
        line-height: 24px;
    }
    .slider__title-bottom{
        font-size: 34px;
        line-height: 44px;
    }
    .slider__link{
        margin-bottom: 50px;
    }
    .header__inner-burger {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #998574;
        color: #ffffff;
        border-radius: 5px;
        border: none;
    }
    .header__inner-burger:hover{
        background-color:#ffffff;
        color:#998574;
    }
    .header__inner{
        align-items: center;
        margin: 0 auto;
        max-width: 450px;
        margin-bottom: 150px;
    }
    .menu {
        background-color: #464540;
        position: fixed;
        top: 55px;
        right: 0;
        width: 150px;
        padding: 20px;
        display: none;
        opacity: 0.4;
        text-align: end;
        border-radius: 5px;
      }
    .menu-open {
        display: block;
       }
    .user-nav{
        display: none;
        background-color: #a8a7a4;
        position: fixed;
        top: 55px;
        right: 0;
        width: 150px;
        padding: 20px;
        display: none;
        opacity: 0.4;
    }
    .user-nav-open{
        display: block;
    }
    .logo{
        padding: 10px;
    }
    .menu__list {
        display: block;
        padding: 0;
      }
    .menu__list-link {
        display: block;
    }
    .menu__list-link:hover{
        color: #000000;
    }
    .menu__list-item + .menu__list-item{
        padding: 0;
    }
    .user-nav-link{
        display: block;
    }
    .jobs{
        flex-wrap: wrap;
    }
    .job{
        max-width: 51%;
        margin-bottom: 30px;
    }
    .job+.job {
        margin-left: 0;
    }

    .waxom__title{
        font-size: 24px;
    }
    .waxom__text{
        max-width: 450px;
        margin: 0 auto 30px;
    }
    .purchase{
        flex-wrap: wrap;

    }
    .purchase__info{
        margin: 0 auto;
        text-align: center;
    }
    .purchase__title{
        font-size: 24px;
        padding-top: 20px;
    }
    .purchase__text{
        padding-bottom: 20px;
    }
    .purchase__btn{
        margin: 0 auto 20px;
    }
    .projects__title{
        font-size: 24px;
    }

    .projects__text{
        max-width: 450px;
    }
    .projects__nav{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .projects__nav-item{
        font-size: 10px;
        
        margin-bottom: 10px;
    }
    .card{
        margin-right: 0;
    }
    .presentation-subtitle{
        max-width: 450px;
    }

    .devices-img{
        display: none;
    }
    .devices__item{
        text-align: left;
        max-width: 450px;
        margin: 0 auto 20px;
        padding: 0 10px;
    }
    .devices__text{
        padding-right: 0;
    }
    .devices__list{
        padding: 0;
    }
    .counters{
        display: block;
    }
    .counter{
        margin-bottom: 30px;
    }
    .counter-img{
        margin-bottom: 15px;
    }
    .counter-text{
        margin-bottom: 30px;
    }
    .posts{
        padding-top: 70px;
    }
    .posts__cards{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    .posts__subtitle{
        max-width: 450px;
    }
    .posts__card{
        margin-bottom: 10px;
    }
    .posts__card + .posts__card {
        margin-left: 0;
    }
    .posts__btn{
        margin-right: 5px;
    }
    .partners{
        flex-wrap: wrap;
        text-align: center;
    }
    .partners__item{
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
    .partners__item + .partners__item {
        margin-left: 0;
    }
    .footer__top{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__top-info{
        margin: 0;
    }

    .footer__bootom{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
    }
    .footer__bootom-text{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    .footer__bootom-link{
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    .presentation{
        /* display: none; */
    }
}